html, body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: #C8F1AC;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #3D3D3D;
  font-size: 18px;
  line-height: 1.25;
}

.wrapper {
  margin: 0 15px;
  max-width: 970px;
}

@media (min-width: 700px) {
  .two-thirds {
    width: 66%;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    margin: 0 auto;
  }
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 0 0 10px;
}

a {
  color: #0017C7;
}

a:hover, a:visited {
  color: #590080;
}

button {
  color: #FFF;
  background-color: #0017C7;
  font-size: 1em;
  padding: 8px 12px;
  border: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

button:hover {
  background-color: #590080;
  cursor: pointer;
}

button:active {
  border: 0;
}

textarea {
  width: 100%;
  border: 2px solid #3D3D3D;
  font-size: 1em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  padding: 5px 10px;
}

*:focus {
  outline: 3px solid #00EEFF;
  outline-offset: 0;
}

hr {
  border-style: solid;
  border-width: 1px;
  margin: 20px 0;
}

ul {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.message {
  color: #FFF;
  margin: 20px 0;
  padding: 10px 15px;
}

.message--error {
  background: #B30000;
}

.message--success {
  background: #2A652B;
}

.form-group {
  margin-bottom: 20px;
}

.journal-entry {
  margin-bottom: 20px;
  padding: 10px 0 0 10px;
  border-bottom: 1px solid;
}

.journal-entry:hover {
  background: #9CE46C;
}

.journal-entry__button {
  background: #FFF;
  color: #3D3D3D;
  margin: 5px 10px 20px 0;
}

.journal-entry__button:hover {
  background: #DEDEDE;
}