@import './src/style/variables';

html, body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: $colour-background;
  font-family: $font-family;
  color: $colour-text;
  font-size: 18px;
  line-height: 1.25;
}

.wrapper {
  margin: 0 15px;
  max-width: 970px;

  @include media-query(desktop) {
    margin: 0 auto;
  }
}

.two-thirds {
  @include media-query(tablet) {
    width: 66%;
  }
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 0 0 10px;
}

a {
  color: $colour-primary;
}

a:hover, a:visited {
  color: $colour-secondary;
}

button {
  color: $colour-white;
  background-color: $colour-primary;
  font-size: 1em;
  padding: 8px 12px;
  border: 0;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

button:hover {
  background-color: $colour-secondary;
  cursor: pointer;
}

button:active {
  border: 0;
}

textarea {
  width: 100%;
  border: 2px solid $colour-text;
  font-size: 1em;
  font-family: $font-family;
  box-sizing: border-box;
  padding: 5px 10px;
}

*:focus {
  outline: 3px solid $colour-focus;
  outline-offset: 0;
}

hr {
  border-style: solid;
  border-width: 1px;
  margin: 20px 0;
}

ul {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.message {
  color: $colour-white;
  margin: 20px 0;
  padding: 10px 15px;
}

.message--error {
  background: $colour-error;
}

.message--success {
  background: $colour-success;
}

.form-group {
  margin-bottom: 20px;
}

.journal-entry {
  margin-bottom: 20px;
  padding: 10px 0 0 10px;
  border-bottom: 1px solid;
}

.journal-entry:hover {
  background: $colour-background-hover;
}

.journal-entry__button {
  background: $colour-white;
  color: $colour-text;
  margin: 5px 10px 20px 0;
}

.journal-entry__button:hover {
  background: $colour-off-white;
}