*:focus {
  outline: 3px solid $colour-focus;
  outline-offset: 0;
}

html, body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: $colour-background;
  font-family: $font-family;
  color: $colour-text;
  font-size: 18px;
  line-height: 1.25;
}

h1 {
  margin: 25px 0;
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 0 0 10px;
}

a {
  color: $colour-primary;

  &:hover, &:visited {
    color: $colour-secondary;
  }
}

nav {
  background-color: $colour-background-hover;
  padding: 10px 0;
}

hr {
  border-style: solid;
  border-width: 1px;
  margin: 20px 0;
}

ul {
  padding-left: 20px;
  margin: 10px 0;
}

li {
  margin-bottom: 5px;
}